.arrow {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	fill: #f34423;
	cursor: pointer;
}

.arrow--left {
	left: 5px;
}

.arrow--right {
	left: auto;
	right: 5px;
}

.arrow--disabled {
	fill: #f34423aa;
}

.dots {
	padding: 10px 0;
	justify-content: center;
}

.dot {
	border: none;
	width: 10px;
	height: 10px;
	background: #c5c5c5;
	border-radius: 50%;
	margin: 0 5px;
	padding: 5px;
	cursor: pointer;
}

.dot:focus {
	outline: none;
}

.dot.active {
	background: #f34423;
}
